{% extends 'base.html.twig' %}

{% block title %}New Election{% endblock %}

{% block body %}
    <h1>Create new Election</h1>

    {{ include('election/_form.html.twig') }}

    <a href="{{ path('crud_election_index') }}" class="btn btn-primary btn-lg btn-block active" role="button"
       aria-disabled="true">Return to List</a>

{% endblock %}
