{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ui_election') }}
{% endblock %}


<div class="container-fluid">
    <div class="row">
        <h3>Election Archives</h3>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>MM/DD/YYYY - Election Name</li>
                <li>MM/DD/YYYY - Election Name</li>
                <li>MM/DD/YYYY - Election Name</li>
                <li>MM/DD/YYYY - Election Name</li>
                <li>MM/DD/YYYY - Election Name</li>
                <li>MM/DD/YYYY - Election Name</li>
                <li>MM/DD/YYYY - Election Name</li>
                <li>MM/DD/YYYY - Election Name</li>
            </ul>
        </div>
    </div>
</div>


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_election') }}
{% endblock %}



