{#TODO  Perform an if then test to see if there is a submit and reset button and implement the correct one herein.#}
<div class="form-group row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-10">
        {{ form_widget(form.submit.submit) }}
        {#        <button class="btn"><input type="submit" value="Send" class="btn btn-success"/></button>#}
    </div>
</div>