<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="Tom Olson <olson@webtoaster.com"/>
    <meta name="generator" content="Sublime"/>
    <title>{{ site_name }} - Log In.</title>

    {{ encore_entry_link_tags('signin') }}
    {% block stylesheets %}{% endblock %}


</head>
<body class="text-center">

</body>
</html>
