{% extends 'base.html.twig' %}

{% block title %}New Voter{% endblock %}

{% block body %}
    <h1>Create new Voter</h1>

    {{ include('voter/_form.html.twig') }}

    <a href="{{ path('crud_voter_index') }}" class="btn btn-primary btn-lg btn-block active" role="button"
       aria-disabled="true">Return to List</a>

{% endblock %}
