<h4>You Email Verification is Here.</h4>
<p>Dear {{ first_name }}</p>
<p>Click on the link below, or copy and paste the link into your browser so that you can continue
    your registration of the election system.</p>
<p><a href="{{ url_key }}">{{ url_key }}</a></p>
<p>Thank you,</p>
<p>Tom Olson</p>

