{#
This Footer Section follows the Bootstrap Sticky Footer with Fixed Navbar
layout which is demonstrated here.
https://getbootstrap.com/docs/4.3/examples/sticky-footer-navbar/
#}
<!-- chunks/_footer_main -->
<p class="mt-3 mb-2 text-muted text-nowrap">
    &copy;&nbsp;2012-{{ "now"|date("Y") }} <a href="https://www.Webtoaster.com">Webtoaster.com</a>
</p>

