<a class="dropdown-item" href="{{ path('app_home') }}">Home</a>

<div class="dropdown-divider"></div>

{% if is_granted('ROLE_COMPANY_VIEW') %}
    <a class="dropdown-item" href="{{ path('company_control_panel') }}">Company Dashboard</a>
{% endif %}

{% if is_granted('ROLE_ASSOCIATION_VIEW') %}
    <a class="dropdown-item" href="{{ path('association_control_panel') }}">Association Dashboard</a>
{% endif %}
