{% extends 'base.html.twig' %}

{% block title %}New Vote{% endblock %}

{% block body %}
    <h1>Create new Vote</h1>

    {{ include('vote/_form.html.twig') }}

    <a href="{{ path('vote_index') }}" class="btn btn-primary btn-lg btn-block active" role="button"
       aria-disabled="true">Return to List</a>

{% endblock %}
