@import '../helper/variables';

footer{
  clear: both;
  width: 100%;
  }


.footer {
  width: 100%;
  background-color: $bg_footer;
  }

.footer > .container {
  padding-right: 15px;
  padding-left:  15px;
  width: 100%;
  }


